body {
  background: black;
  color: white;
  overflow: hidden;
}
h1 {
  text-align: center;
}
.todo-wrapper{
  background:  rgb(44, 42, 42);
  padding: 2%;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  max-height: 80vh;
  margin-top: 3%;
  overflow-y: auto;
  box-shadow: 0px 5px 7px rgb(27, 27, 27);

}
.todo-input{
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid grey;
  padding-bottom: 25px;
  margin-bottom: 25px;

}
.todo-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 25px;
}
.todo-item label{
  font-weight: bold;
  margin-bottom: 10px;
}
.todo-item input{
  padding: 10px; 
  border: none;
  width: 250px;

}
.todo-item input:focus{
  border: 3px solid rgb(119, 47, 118) ;
  outline: none;
}
.primarybtn{
  background-color: rgb(119, 47, 118);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: 60px;
  cursor: pointer;
}

.primarybtn:hover{
  background-color: rgb(119, 47, 118);

}

.secondarybtn{
  background-color: rgb(85, 75, 85);
  color: white;
  border: none;
  border-radius: 0px;
  margin-top: 25px;
  padding: 10px;
  width: fit-content;
  cursor: pointer;
}
.active {
    background-color: rgb(119, 47, 118);


}
.todo-list {
  display: flex;
  flex-direction: column;

}
.btn-area{
  margin-bottom: 15px;
}
.todo-list-item {
  background-color: rgb(31, 29, 29);
  display: flex;
  justify-content: space-between;
  padding: 25px;
  padding-bottom: 10px;
  padding-top:10px ;
  margin-bottom: 10px;
  box-shadow: 0px 3px 5px gray;
}
.todo-list-item h3{
  font-size: 25px;
  color: rgb(64, 25, 101);
  font-weight: bold;
  margin: 0;

}
.todo-list-item p{
  font-size: 14px;
  color: rgb(217, 72, 181);
  margin-top: 8px;
}
.icon{
  font-size: 35px;
  cursor: pointer;
 
}
.icon:hover{
  color: rgb(86, 86, 158);
}
.check-icon{
  font-size: 25px;
  margin-left: 10px;
  color: rgb(79, 25, 81);

}
.check-icon:hover{
color: rgb(86, 86, 158);
}

.edit_wrapper{
  background-color: rgb(31, 29, 29);
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.edit_wrapper input, .edit_wrapper textarea{
  border:1px solid lightgray ;
  padding: 10px;
  margin: 5px;
  border-radius: 9px;
}
.edit_wrapper .primarybtn{
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  font-size: 16px; 
  width: fit-content;
}